.hero {
  background-image: url("../../../assets/img/learn-math-main.jpg");
  background-size: cover;
  height: 30vh;
  position: 50% 50%;
}

.font-1 {
  font-size: 1.4rem;
}

.quote {
  padding-top: 30px;

  /* text-shadow: 1px 1px rgb(75, 88, 98); */
}

@media (min-width: 576px) {
  .hero {
    height: 40vh;
  }

  .quote {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .hero {
    height: 60vh;
  }

  .quote {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .hero {
    height: 60vh;
  }

  .quote {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 100vh;
  }
  .quote {
    font-size: 2rem;
  }
}

.img-fluid {
  border-radius: 70px !important;
}
